<app-header-section [title]="'contact squnity'"
                    [backgroundImage]="'./assets/img/header-background.png'"></app-header-section>

<section class="contact mt-80">
  <div class="container">
    <div class="row">
      <div class="content">
        <h2 class="title">Contact squnity</h2>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <form>
              <div class="form-group">
                <i class="far fa-user"></i>
                <input type="text" class="form-control" id="name" placeholder="Name">
              </div> <!-- .form-group -->
              <div class="form-group">
                <i class="far fa-envelope"></i>
                <input type="email" class="form-control" id="email" placeholder="Email">
              </div> <!-- .form-group -->
              <div class="form-group">
                <i class="far fa-comment-alt"></i>
                <textarea class="form-control" id="message" placeholder="Message"></textarea>
              </div> <!-- .form-group -->
              <div class="form-group d-flex justify-content-center align-items-center">
                <button class="btn btn-default" type="submit">Submit</button>
              </div>
            </form>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="get-in-touch">
              <h2>Get in touch</h2>
              <ul class="list-unstyled">
                <li *ngFor="let info of informations">
                  <i [class]="'fas fa-' + info.icon"></i>
                  <span>{{info.data}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
