<app-header-section [title]="'Customizable SDK Supporting Multiple Platforms to Build Better Apps'"
                    [backgroundImage]="'./assets/img/header-background.png'">
</app-header-section>
<section class="about">
  <div class="container">
    <div class="row">
      <div class="who-we-are d-flex justify-content-center align-items-center">
        <div class="content">
          <h3>Who we are ?</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda beatae eius eum fugiat hic iste
            laboriosam molestiae, natus neque praesentium, quasi saepe tempora, veritatis voluptatem? Necessitatibus
            nulla
            quidem tenetur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad corporis ea esse
            numquam quaerat quo recusandae vero voluptas. Ab aut, consequatur deserunt ducimus eaque excepturi inventore
            molestias porro temporibus?
          </p>
        </div> <!-- .content -->
        <img src="./../../../assets/img/header.png" alt="">
      </div> <!-- .who-we-are -->
    </div> <!-- .row -->
  </div> <!-- .container -->

  <section class="make-us-special w-100">
    <h2 class="title">what makes us special?</h2>
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6" *ngFor="let item of special">
          <div class="content d-flex justify-content-between align-items-center">
            <img [src]="'./../../../assets/img/about/' + item.picture" [alt]="item.title" title="item.title">
            <div class="content-data">
              <h4>{{item.title}}</h4>
              <p>{{item.description}}</p>
            </div> <!-- .content-data -->
          </div> <!-- .content -->
        </div> <!-- .col-md-6 -->
      </div> <!-- .row -->
    </div> <!-- .container -->
  </section> <!-- .make-us-special -->

  <section class="what-you-got">
    <h2 class="title">What you got</h2>
    <div class="content d-flex justify-content-center align-items-center flex-wrap text-center">
      <div class="content-data" *ngFor="let service of services; let i = index">
        <h3>{{i+1}}. {{service.title}}</h3>
        <p>{{service.description}}</p>
      </div>
    </div> <!-- .content -->
  </section> <!-- .what-you-got -->
</section>
