.about {
  padding: 4rem 0;

  //Start Who-We-Are
  .who-we-are {
    position: relative;
    background-color: #fff;
    //margin-top: -10rem;
    margin-bottom: 3rem;
    //padding: 2rem;
    //border: 1px solid #ddd;
    //border-radius: 1rem;

    @media(max-width: 767px) {
      display: block !important;
    }

    .content {
      padding: 1rem;

      h3 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
      }

      p {
        font-size: 1.1rem;
        line-height: 1.7rem;
        margin-bottom: 0;
      }
    }

    img {
      width: 100%
    }
  }

  //End Who-We-Are

  //Start Make-Us-Special
  .make-us-special {
    padding: 4rem 0;
    //background-image: url("./../../../assets/img/about-one.jpg");
    //background-size: cover;
    //background-attachment: fixed;
    background-color: #FBFBFB;
    position: relative;

    //&:before {
    //  content: '';
    //  position: absolute;
    //  top: 0;
    //  right: 0;
    //  bottom: 0;
    //  left: 0;
    //  width: 100%;
    //  height: 100%;
    //  background-color: rgba(#000, .8);
    //}

    .col-md-6:last-of-type .content {
      margin-bottom: 0;
    }


    .content {
      padding: 2rem;
      margin-bottom: 2rem;
      background-color: #fff;
      box-shadow: 0 0 16px rgba(#000, .08);
      transition: all .2s ease-in-out;

      //&:hover {
      //  transform: scale(1.1);
      //}

      @media (max-width: 767px) {
        display: block !important;
        text-align: center;

        img {
          margin-bottom: 1rem;
        }

        &-data {
          padding-left: 0 !important;
        }
      }

      img {
        //display: block;
        width: 80px;
        height: 80px;
      }

      &-data {
        padding-left: 2rem;
        display: inline-block;
        width: calc(100% - 80px);
        vertical-align: middle;

        h4 {
          margin-bottom: .5rem;
          font-size: 1.2rem;
          font-weight: 700;
          color: #D96A78;
        }

        p {
          font-size: 1rem;
          line-height: 1.5rem;
          color: #b1b1b1;
          margin-bottom: 0;
        }
      }
    }
  }

  //End Make-Us-Special

  //Start What-You-Got
  .what-you-got {
    padding: 4rem 0 0;
    //background-color: #fbfbfb;

    .content {
      padding: 2rem;
      background-color: #fbfbfb;
      //color: #fff;
      width: 33.33%;
      height: 400px;
      margin-bottom: 2rem;

      @media(max-width: 767px) {
        width: 100%;
        height: auto;
        margin-bottom: 0;

        &:first-of-type {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        &:last-of-type {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        &.middle {
          border-radius: 0 !important;
          height: auto !important;
        }
      }

      &:first-of-type {
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;
      }

      &:last-of-type {
        border-top-right-radius: .5rem;
        border-bottom-right-radius: .5rem;
      }

      &.middle {
        background-color: #D96A78;
        color: #fff;
        height: 500px;
        border-radius: .5rem;
      }

      @media(max-width: 767px) {
        display: block !important;
      }

      .platform {
        text-align: center;

        img {
          width: 4rem;
          height: 4rem;
          margin-bottom: 1rem;
        }

        h4 {
          font-size: 1.2rem;
          font-weight: 700;
          text-transform: capitalize;
          margin-bottom: 1rem;
        }

        p {
          font-size: 1rem;
          line-height: 1.7rem;
          margin-bottom: 0;
        }
      }
    }
  }
}
