.service {
  h2.title {
    padding: 0 0 1rem;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .5px;
    text-transform: capitalize;
    margin-top: 2rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.7rem;
    margin-bottom: 4rem;
  }

  img {
    width: 100%;
    height: 400px;
  }

  .service-section {
    padding: 4rem 0;
    margin-top: 4rem;
    position: relative;

    .content {
      background-color: #fff;
      padding: 1rem;
      display: flex;
      align-items: center;
      box-shadow: 0 0 16px rgba(#000, .1);
      margin-bottom: 2rem;
      transition: all .2s ease-in-out;

      @media(min-width: 768px) {
        &:hover {
          transform: scale(1.1);
        }
      }

      img {
        width: 80px;
        height: 80px;
        margin-right: 1rem;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}
