<app-header-section [title]="'Service Title'"
                    [backgroundImage]="'./assets/img/header-background.png'"></app-header-section>

<section class="service">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="title">Title Here</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, dolorum facere itaque labore laborum
          libero necessitatibus quaerat saepe temporibus? Accusantium blanditiis cumque ducimus porro veniam.
        </p>
        <h2 class="title">Title Here</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, dolorum facere itaque labore laborum
          libero necessitatibus quaerat saepe temporibus? Accusantium blanditiis cumque ducimus porro veniam.
        </p>
      </div> <!-- .col-md-6 -->
      <div class="col-md-6">
        <img src="./assets/img/header-background.png" alt="">
      </div> <!-- .col-md-6 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
  <div class="service-section gray d-flex justify-content-center align-items-center flex-wrap">
    <div class="container">
      <h2 class="text-center section-title gray">Title Here</h2>
      <hr>
      <div class="row"
           *ngFor="let item of [1, 2, 3]; let odd = odd; let even = even">
        <div *ngIf="odd" class="content-group w-100 d-flex justify-content-center align-items-center flex-wrap">
          <div class="col-md-6">
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci beatae consectetur consequatur,
              doloremque error exercitationem facere hic maxime nobis omnis perspiciatis, reiciendis saepe soluta totam
              ut, vel voluptate voluptatibus?
            </p>
          </div> <!-- .col-md-6 -->
          <div class="col-md-6">
            <img src="./assets/img/header-background.png" alt="">
          </div> <!-- .col-md-6 -->
        </div> <!-- .content-group -->
        <div *ngIf="even" class="content-group w-100 d-flex justify-content-center align-items-center flex-wrap">
          <div class="col-md-6">
            <img src="./assets/img/header-background.png" alt="">
          </div> <!-- .col-md-6 -->
          <div class="col-md-6">
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci beatae consectetur consequatur,
              doloremque error exercitationem facere hic maxime nobis omnis perspiciatis, reiciendis saepe soluta totam
              ut, vel voluptate voluptatibus?
            </p>
          </div> <!-- .col-md-6 -->
        </div> <!-- .content-group -->
      </div> <!-- .row -->
    </div> <!-- .container -->
  </div> <!-- .service-section -->
</section>
