<app-header-section [title]="'Team Header'"
                    [backgroundImage]="'./assets/img/header-background.png'"></app-header-section>

<section class="team text-center">
  <div class="container">
    <div class="row">
      <h2 class="text-center section-title">Our heros</h2>
      <hr>
      <div class="team-content d-flex flex-wrap">
        <div class="col-md-4" *ngFor="let member of members">
          <div class="team-member">
            <img [src]="member.picture" [alt]="member.name" [title]="member.name">
            <div class="content">
              <h2>{{member.name}}</h2>
              <p>
                {{member.bio}}
              </p>
            </div> <!-- .content -->
          </div> <!-- .team-member -->
        </div> <!-- .col-md-4 -->
      </div> <!-- .team-content -->
    </div> <!-- .row -->
  </div> <!-- .container -->
  <div class="team-qualifications gray">
    <div class="container">
      <div class="row">
        <h2 class="section-title gray">team qualifications</h2>
        <hr>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, corporis delectus dolor esse id, incidunt
          inventore iste iure libero maiores natus nihil nobis officiis quam repellendus sunt temporibus vitae
          voluptate.
        </p>

        <div class="content w-100 text-left d-flex justify-content-center align-items-center flex-wrap">
          <div class="col-md-6" *ngFor="let item of [1, 2]">
            <ul>
              <li *ngFor="let item of [1, 2, 3, 4, 5]">
                list test <span>tester</span>
              </li>
            </ul>
          </div> <!-- .col-md-6 -->
        </div> <!-- .content -->
      </div> <!-- .row -->

      <owl-carousel [options]="owlConfig"
                    [carouselClasses]="['owl-theme', 'row', 'sliding']">
        <div class="item" *ngFor="let client of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]">
          <img src="./assets/img/header-background.png" alt="" title="">
        </div>
      </owl-carousel>
    </div> <!-- .container -->
  </div> <!-- .team-qualifications -->
</section>
