<footer>

  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-12">
        <div class="logo">
          <img src="./../../../assets/img/logo-white.png" alt="Squnity Logo" title="Squnity Logo">
          <ul class="list-unstyled">
            <li *ngFor="let item of socialLinks">
              <a [href]="item.link" target="_blank">
                <i *ngIf="item.icon == 'facebook'" class="fab fa-{{item.icon}}-f"></i>
                <i *ngIf="item.icon != 'facebook'" class="fab fa-{{item.icon}}"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="content links d-flex justify-content-center align-items-center">
          <div class="col-md-4" *ngFor="let item of [1, 2, 3]">
            <h5 class="footer-title">Overview</h5>
            <ul class="list-unstyled">
              <li *ngFor="let item of [1, 2, 3]">
                <a [routerLink]="'#'">Demo</a>
              </li>
            </ul>
            <h5 class="footer-title">Overview</h5>
            <ul class="list-unstyled">
              <li *ngFor="let item of [1, 2, 3]">
                <a [routerLink]="'#'">Demo</a>
              </li>
            </ul>
          </div> <!-- .col-md-4 -->
        </div> <!-- .content -->
      </div> <!-- .col-md-6 -->
      <div class="col-md-3 col-xs-12">
        <div class="content address">
          <ul class="list-unstyled">
            <li *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9]">
              Cairo, Egypt
            </li>
          </ul>
        </div> <!-- .content -->
      </div> <!-- .col-md-3 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
  <div class="copyright d-flex justify-content-center align-items-center">
    <p>&copy; {{date | date: 'y'}} <a [routerLink]="''">Squnity</a>, Inc. All rights reserved.</p>
  </div>
</footer>
