.navbar {
  width: 100%;
  padding: 1rem;
  z-index: 9;
  position: absolute;

  &-brand {
    width: 10rem;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &-toggler {
    color: #D96A78;
    border: none;
    outline: none;
  }

  &-nav {
    text-transform: capitalize;

    .dropdown-menu {
      border: none;
      padding: 0;

      .dropdown-item {
        transition: all .2s ease-in-out;
        padding: .5rem 1rem;
        background-color: #D96A78;
        color: #fff;

        &:hover {
          padding-left: 2rem;
          background-color: #fff;
          color: #D96A78;
        }

        @media (max-width: 767px) {
          background-color: #fff;
          color: #D96A78;
        }
      }
    }

    .nav-item {
      padding-top: 1rem;
      padding-bottom: 1rem;
      cursor: pointer;

      &:last-of-type {
        padding-top: .7rem;

        .btn-default {
          background-color: #D96A78;
          text-align: center;
          padding: .3rem 1rem;
          box-shadow: none;
        }
      }
    }

    .nav-link {
      color: #fff;
      letter-spacing: 1px;
      padding: 0 2rem 0 0;

      &.active {
        color: #D96A78;
        font-weight: 700;
      }

      @media(max-width: 992px) {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
  }
}

@media(max-width: 767px) {
  .navbar {
    padding: 0;

    &-toggler {
      margin: 1rem;
      padding: 1rem;
    }

    &-brand,
    &-collapse {
      padding: 1rem;
    }

    &-collapse {
      background-color: #fff;

      .nav-item {
        padding-top: 0;
        padding-bottom: 0;

        &:last-of-type .nav-link {
          color: #fff;
        }

        .nav-link {
          color: #D96A78;
        }
      }
    }
  }
}
