<section class="timeline">
  <div class="container">
    <div class="row">
      <div class="content d-flex">
        <div class="col-md-6">
          <h2>we always protect your data from hacker</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur fuga illum ipsam magnam magni
            molestiae, nesciunt optio quam quod quos repellat similique sit tenetur ullam velit. Aperiam doloremque
            quibusdam rerum.</p>
        </div>
        <div class="col-md-6">
          <img src="./../../../../assets/img/timeline-one.png" alt="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="content d-flex">
        <div class="col-md-6">
          <img src="./../../../../assets/img/timeline-two.png" alt="">
        </div>
        <div class="col-md-6">
          <h2>we always protect your data from hacker</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur fuga illum ipsam magnam magni
            molestiae, nesciunt optio quam quod quos repellat similique sit tenetur ullam velit. Aperiam doloremque
            quibusdam rerum.</p>
        </div>
      </div>
    </div>
  </div>
</section>
