.company-qoute {
  background-color: #3598FE;
  padding: 2rem 0;
  color: #fff;

  h2 {
    margin-bottom: 0;
    font-size: 2rem;
    line-height: 3rem;
    text-transform: capitalize;
  }

  img {
    height: 50px;
    margin-left: .5rem;
  }
}
