.services {
  .blue {
    color: #73B6FA;
  }

  .green {
    color: #33D4A5;
  }

  .purple {
    color: #37376B;
  }

  .red {
    color: #D96A78;
  }

  .services-header {
    width: 70%;
    position: relative;
    margin: auto;
    text-align: center;

    @media(max-width: 767px) {
      width: 100%;
    }

    h2 {
      font-weight: 700;
      margin-bottom: 1rem;
      letter-spacing: 1px;
    }

    p {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }

  .services-list {
    margin-top: 4rem;
    padding-right: 0 !important;
    padding-left: 0 !important;

    &.row {
      margin-right: 0 !important;
      margin-left: 0 !important;
    }

    .col-md-3 {
      &:first-of-type {
        i {
          @extend .blue;
        }
      }

      &:nth-child(2) {
        i {
          @extend .green;
        }
      }

      &:nth-child(3) {
        i {
          @extend .purple;
        }
      }

      &:last-of-type {
        i {
          @extend .red;
        }
      }
    }

    .content {
      background-color: #fff;
      box-shadow: 0 0 16px 0 rgba(0, 0, 0, .08);
      padding: 1rem;
      transition: all .2s ease-in-out;
      border-radius: 1rem;
      margin-bottom: 2rem;
      text-align: center;

      &:hover {
        transform: scale(1.1);
      }

      i {
        font-size: 2rem;
      }

      img {
        width: 50px;
        height: 50px;
      }

      h4 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
      }

      p {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }

    .btn-default {
      background-color: #3598FE;
      margin: 2rem auto auto;
      color: #fff;
      text-transform: capitalize;
      box-shadow: none;
      padding: .5rem 2rem;
    }
  }
}
