<div class="platforms">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <h2 class="title">why choose squnity</h2>
      <div class="content d-flex justify-content-center align-items-center">
        <div class="col-md-4">
          <div class="platform d-flex justify-content-center align-items-center">
            <img src="./assets/img/img.jpg" alt="">
            <h4>Bug and Crash Reporting for Android</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="platform d-flex justify-content-center align-items-center">
            <img src="./assets/img/img.jpg" alt="">
            <h4>Bug and Crash Reporting for Android</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="platform d-flex justify-content-center align-items-center">
            <img src="./assets/img/img.jpg" alt="">
            <h4>Bug and Crash Reporting for Android</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
