.platforms {
  .content {
    padding: 2rem;
    background-color: #fbfbfb;
    //color: #fff;
    width: 33.33%;
    height: 400px;
    margin-bottom: 2rem;

    @media(max-width: 767px) {
      width: 100%;
      height: auto;
      margin-bottom: 0;

      &:first-of-type {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:last-of-type {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &.middle {
        border-radius: 0 !important;
        height: auto !important;
      }
    }

    &:first-of-type {
      border-top-left-radius: .5rem;
      border-bottom-left-radius: .5rem;
    }

    &:last-of-type {
      border-top-right-radius: .5rem;
      border-bottom-right-radius: .5rem;
    }

    &.middle {
      background-color: #D96A78;
      color: #fff;
      height: 500px;
      border-radius: .5rem;
    }

    @media(max-width: 767px) {
      display: block !important;
    }

    .platform {
      text-align: center;

      img {
        width: 4rem;
        height: 4rem;
        margin-bottom: 1rem;
      }

      h4 {
        font-size: 1.2rem;
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1rem;
        line-height: 1.7rem;
        margin-bottom: 0;
      }
    }
  }
}
