<section class="platforms">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <h2 class="text-center section-title">Why choose squnity?</h2>
      <hr>
      <p class="text-center section-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolor, explicabo officia quidem sequi unde? Aliquam
        aperiam asperiores at culpa cupiditate ea explicabo, modi, numquam officia optio, quae quasi tempora.
      </p>
      <div class="content-group w-100 d-flex justify-content-center align-items-center flex-wrap">
        <div class="content d-flex justify-content-center align-items-center">
          <div class="platform">
            <img src="./assets/img/about/brain.png" alt="">
            <h4>Bug and Crash Reporting for Android</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et expedita in nisi optio recusandae repellat
              sapiente suscipit tempora. Dolorem incidunt inventore libero magni maiores maxime perspiciatis, quae vitae
              voluptatem voluptatibus.
            </p>
          </div> <!-- .platform -->
        </div> <!-- .content -->
        <div class="content middle d-flex justify-content-center align-items-center">
          <div class="platform">
            <img src="./assets/img/about/compliance.png" alt="">
            <h4>Bug and Crash Reporting for Android</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem blanditiis esse facilis illum ipsam
              numquam optio praesentium provident quas, voluptate! Eos quidem similique tempora. Molestiae possimus ut
              voluptatibus. Distinctio, rem!
            </p>
          </div> <!-- .platform -->
        </div> <!-- .content -->
        <div class="content d-flex justify-content-center align-items-center">
          <div class="platform">
            <img src="./assets/img/about/gem.png" alt="">
            <h4>Bug and Crash Reporting for Android</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad beatae consequuntur cumque dicta
              dolor explicabo, fugiat illum labore molestias natus nihil numquam odit optio quam quo quod repudiandae
              soluta?
            </p>
          </div> <!-- .platform -->
        </div> <!-- .content -->
      </div> <!-- .content-group -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>
