.login {
  padding: 4rem 0;
  background-image: url("./../../../assets/img/header-background.png");
  background-size: cover;
  height: 100vh;

  .row {
    height: 100%;
  }

  &-content {
    width: 500px;
    background-color: #fff;
    border-radius: .25rem;
    color: #fff;

    .form-group:last-of-type {
      margin-bottom: 0;
      margin-top: 1.5rem;
    }

    form {
      padding: 2rem 3rem;

      label, button {
        text-transform: capitalize;
      }

      label, input, input::placeholder {
        color: #D96A78;
      }

      label {
        font-size: 1rem;
      }

      input {
        box-shadow: none;
      }

      button {
        background-color: #D96A78;
        display: block;
        margin: auto;
        color: #fff;
        padding: .3rem 2rem;
      }
    }
  }
}
