.hall-of-fame {
  padding: 4rem 0;
  background-color: #FBFBFB;

  .title {
    margin-bottom: 3rem;
    font-weight: 700;
    letter-spacing: 1px;
  }

  ul li {
    margin-bottom: 2rem;
    margin-right: 2rem;

    img {
      width: 150px;
      height: 70px;
    }
  }
}
