<app-header-section [title]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto'"
                    [backgroundImage]="'./assets/img/header-background.png'"></app-header-section>
<section class="services">
  <div class="whats-squnity">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
          <h2>What is Squnity?</h2>
          <p>
            Dropbox is a home for all of your work. With the added benefits of cloud storage, you can store and share
            files, collaborate on projects and bring your best ideas to life – whether you're working alone or as part
            of a team.
          </p>
        </div> <!-- .col-md-6 -->
        <div class="col-md-6">
          <img src="./assets/img/services/5.png" alt="">
        </div> <!-- .col-md-6 -->
      </div> <!-- .row -->
    </div> <!-- .container -->
  </div> <!-- .whats-squnity -->

  <div class="service-item">
    <div class="container">
      <div class="row" *ngFor="let service of services; let i = index; let odd = odd; let even = even">
        <div class="service-content w-100 d-flex justify-content-center align-items-center" *ngIf="odd">
          <div class="col-md-6">
            <img [src]="'./assets/img/services/' + (i + 1) + '.png'" alt="service.name" [title]="service.name">
          </div> <!-- .col-md-6 -->
          <div class="col-md-6">
            <h2>{{service.name}}</h2>
            <p>{{service.description}}</p>
            <button class="btn btn-default">read more</button>
          </div> <!-- .col-md-6 -->
        </div> <!-- .service-content -->

        <div class="service-content w-100 d-flex justify-content-center align-items-center" *ngIf="even">
          <div class="col-md-6">
            <h2>{{service.name}}</h2>
            <p>{{service.description}}</p>
            <button class="btn btn-default">read more</button>
          </div> <!-- .col-md-6 -->
          <div class="col-md-6">
            <img [src]="'./assets/img/services/' + (i + 1) + '.png'" alt="service.name" [title]="service.name">
          </div> <!-- .col-md-6 -->
        </div> <!-- .service-content -->
      </div> <!-- .row -->
    </div> <!-- .container -->
  </div> <!-- .service-item -->
</section>
