<section class="services">
  <div class="container">
    <div class="row d-block">
      <div class="col-md-12 services-header">
        <h2>Services</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto incidunt natus, nulla quidem repellat saepe
          similique vitae. Ab asperiores dolorem, ex maiores molestiae natus numquam, perspiciatis quam sapiente ullam ut.
        </p>
      </div>

      <div class="services-list row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let service of services">
          <div class="content">
            <i [class]="service.icon"></i>
            <h4>{{service.title}}</h4>
            <p>{{service.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
