<section class="our-mission mt-80 text-center">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="content">
        <h2>
          our mission is to protect peoples privacy and secure data
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur deleniti dignissimos, explicabo harum
          ipsa ipsum nam optio quo quos reprehenderit tempora vero? Aliquam assumenda autem dicta est iusto nam qui!
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias corporis debitis dicta dolorem
          esse, ex excepturi hic laborum molestiae mollitia necessitatibus officiis quibusdam quis reiciendis, repellat
          sunt voluptate voluptatum.
        </p>
      </div>
    </div>
  </div>
</section>
