<app-header-section [title]="'Training Header'"
                    [backgroundImage]="'./assets/img/header-background.png'"></app-header-section>
<section class="training">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="training-header">
        <div class="col-md-6">
          <h4>build your career on</h4>
          <h5>SqLabs</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, cupiditate dolore</p>
          <div>
            <button class="btn btn-default">Get start</button>
            <button class="btn btn-default">Get start</button>
          </div> <!-- div -->
        </div><!-- .col-md-6 -->
        <div class="col-md-6 d-flex justify-content-center align-items-center">
          <img src="./../../../assets/img/ceh.png" alt="CEH Training">
        </div><!-- .col-md-6 -->
      </div> <!-- .training-header -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>
