<app-header-section [title]="'Training Header'"
                    [backgroundImage]="'./assets/img/header-background.png'"></app-header-section>
<section class="training">
  <div class="container">
    <div class="training-header">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
          <h2 class="title">Header Here</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae corporis eius natus nemo repudiandae sit
            tempore ullam unde. Atque consequuntur dolor eaque ipsam maiores necessitatibus nisi numquam obcaecati
            officiis placeat.
          </p>
          <button class="btn btn-default" [routerLink]="'1'">Buy now</button>
          <span>or</span>
          <button class="btn btn-default" [routerLink]="'1'">Learn more</button>
        </div> <!-- .col-md-6 -->
        <div class="col-md-6">
          <img src="./assets/img/header-background.png" alt="">
        </div> <!-- .col-md-6 -->
      </div> <!-- .row -->
    </div> <!-- .training-header -->
  </div> <!-- .container -->

  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let item of [1, 2, 3]">
        <div class="content">
          <img src="./assets/img/header-background.png" alt="Traing title">
          <div class="content-details">
            <h2>Training title</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
            <span>
            12 Hour
          </span>
          </div> <!-- .content-details -->
        </div> <!-- .content -->
      </div> <!-- .col-md-4 -->
    </div> <!-- .row -->
  </div> <!-- .container -->

  <div class="training-table gray">
    <div class="container">
      <div class="row d-block">
        <h2 class="text-center section-title gray">Hall of fame</h2>
        <hr>
        <p class="text-center section-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolor, explicabo officia quidem sequi unde? Aliquam
          aperiam asperiores at culpa cupiditate ea explicabo, modi, numquam officia optio, quae quasi tempora.
        </p>
        <table class="table">
          <thead class="thead-dark">
          <tr>
            <th scope="col" *ngFor="let item of [1, 2, 3, 4]; let index = index">#</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of [1, 2, 3, 4]; let index = index; let odd = odd">
            <th scope="row">{{index + 1}}</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>
              <span *ngIf="odd" class="opening">opening</span>
              <span *ngIf="!odd" class="closing">closing</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div> <!-- .row -->
    </div> <!-- .container -->
  </div>
</section>
