<header>
  <!--  <owl-carousel [options]="owlConfig"-->
  <!--                [items]="images"-->
  <!--                [carouselClasses]="['owl-theme', 'sliding']">-->
  <!--    <div class="item" *ngFor="let item of slider;let i = index">-->
  <!--      <img [src]="'./assets/img/' + item.image" [alt]="item.title">-->
  <!--      <div class="content">-->
  <!--        <h2>{{item.title}}</h2>-->
  <!--        <p>{{item.description}}</p>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </owl-carousel>-->


  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="content text-center">
        <h1>In-App Feedback and Bug Reporting for Mobile Apps</h1>
        <p>
          Gather comprehensive feedback from your beta testers and have live conversations with your users
        </p>
        <img src="./assets/img/header.png" alt="Header Picture">
      </div>
    </div>
  </div>
</header>
