<section class="check-services">
  <div class="container">
    <div class="row">
      <div class="content d-flex justify-content-center align-items-center">
        <div class="col-md-8">
          <h2>Check our services solution</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam minus natus odio</p>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <button class="btn btn-default">buy now</button>
        </div>
      </div>
    </div>
  </div>
</section>
